<a href="https://colab.research.google.com/github/nickforg2/FALL2021/blob/main/10_25_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create functions to do the following: max, min, average, standard deviation, and geometric average.

In [87]:
import numpy as np

def Max(num1):
  my_max= num1[0]
  for i in num1:
    if my_max < i:
      my_max=i
  return my_max

  
def Min(num1):
  my_min= num1[0]
  for i in num1:
    if my_min > i:
      my_min=i
  return my_min

def Avg(num1):
  total=0
  for i in num1:
    total+=i
  return total/len(num1)

def X(vals, weight, power):
  mid=(vals**power)*weight
  total=0
  for i in mid:
    total+=i
  return total

def stdev(vals, weight):
  x1= X(vals, weight, 1)
  x2= X(vals, weight,2)
  return np.sqrt(x1-x2**2)

def geoAvg(nums):
  mult=1
  for i in nums:
    mult*=i
  return mult** 1/len(nums)

weights = np.array([.1,.1,.1,.1,.1,.1,.1,.1,.1,.1])
vals= np.array([1,2,3,6,9,3,5,11,10,2])
a=[8,6,9,13,3,2]


print(Max(a))
print(Min(a))
print(Avg(a))
print(stdev(vals, weights))
print(geoAvg(vals))

13
2
6.833333333333333
nan
106920.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in sqrt

Create a function that asks the user which shape they would like to analyze. It should then call other functions based on this and return the area of the shape.  The triangle function should take in the base and height, the circle function should take in the radius, and the square function should take in the side length.

In [ ]:
import numpy as np
def shapeChoice():
  data = int (input("Which shape would you like to find the area of? (TRIANGLE-1, SQUARE-2, CIRCLE-3 "))
  if data is 1:
    base = float(input("What is the base?"))
    height = float(input('What is the height?'))
    triangle(base,height)
  elif data is 2:
    side = float(input("What is the side?"))
    square(side)
  elif data is 3:
    radius = float(input("What is the radius?"))
    circle(radius)
  else:
    print("Error.. Guess your dumb")


def triangle(base, height):
  print("The area of the triangle is: ", base*height)

def circle(radius):
  print("The area of the circle is: ", (radius**2)*3.14)

def square(side):
  print("The area of the square is: ", side*side)

shapeChoice()

Which shape would you like to find the area of? (TRIANGLE-1, SQUARE-2, CIRCLE-3 4
Error.. Guess your dumb

Create a function that takes in a list and returns the list doubled. It should ask the user for option one or two. If the user chooses option one it should return the list doubled such as [1 2 3] becoming [1 2 3 1 2 3], if the user chooses option two then is should return the list such as [1 2 3] becoming [2 4 6].

In [ ]:
import numpy as np
def multiples(num):
  data = int (input("Do you wanna see your list twice (1) OR double your list (2) " ))
  if data is 1:
    num = num*2
  elif data is 2:
    num=np.arry(num)
    num=num*2
  return num

vals = [1,2,3,4,5,6]
print(multiples(vals))

Do you wanna see your list twice (1) OR double your list (2) 1
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

Create a function that takes in two lists and concatenates the numbers in those lists. For instance, if we have [1 2 3] and [7 8 9], we should return [17 28 39]

In [ ]:
def conLists(list1,list2):
  con=[]
  for(i,j) in zip(list1, list2):
    con.append(int(str(i)+str(j)))
  return con

list1 = [1,2,3]
list2 =[4,5,6]

print(conLists(list1,list2))

[14, 25, 36]

Create a function that returns a list of primes up until the number passed in. So if 100 is passed in, it should return all the primes up until 100.

In [44]:
def isPrime(num):
  for i in range (2,num):
    if(num% i==0):
      return False
    return True

def listPrimes(x, y):
  for i in range(x,y+1):
    if(isPrime(i)):
      print(i, end = " | ")

listPrimes(2,100)

3 | 5 | 7 | 9 | 11 | 13 | 15 | 17 | 19 | 21 | 23 | 25 | 27 | 29 | 31 | 33 | 35 | 37 | 39 | 41 | 43 | 45 | 47 | 49 | 51 | 53 | 55 | 57 | 59 | 61 | 63 | 65 | 67 | 69 | 71 | 73 | 75 | 77 | 79 | 81 | 83 | 85 | 87 | 89 | 91 | 93 | 95 | 97 | 99 |

Write a function calculation() such that it can accept two variables and calculate the multiplication and divison of it. And also it must return both results in a single return call

In [ ]:
def calculation(a,b):
  return a*b, a/b

mult, div= calculation(36,6)
print(mult, " ", div)

216   6.0

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.Find the sum of all the multiples of 3 or 5 below 1000.

In [78]:
def check(x,y):
  result = 0
  for i in range(x,y):
    if (i % 3 == 0 or i % 5 == 0):
      print (i, end = "|")
      result = result + i
  return print("\n", "The result is: ", result)


check(1, 1000)

3|5|6|9|10|12|15|18|20|21|24|25|27|30|33|35|36|39|40|42|45|48|50|51|54|55|57|60|63|65|66|69|70|72|75|78|80|81|84|85|87|90|93|95|96|99|100|102|105|108|110|111|114|115|117|120|123|125|126|129|130|132|135|138|140|141|144|145|147|150|153|155|156|159|160|162|165|168|170|171|174|175|177|180|183|185|186|189|190|192|195|198|200|201|204|205|207|210|213|215|216|219|220|222|225|228|230|231|234|235|237|240|243|245|246|249|250|252|255|258|260|261|264|265|267|270|273|275|276|279|280|282|285|288|290|291|294|295|297|300|303|305|306|309|310|312|315|318|320|321|324|325|327|330|333|335|336|339|340|342|345|348|350|351|354|355|357|360|363|365|366|369|370|372|375|378|380|381|384|385|387|390|393|395|396|399|400|402|405|408|410|411|414|415|417|420|423|425|426|429|430|432|435|438|440|441|444|445|447|450|453|455|456|459|460|462|465|468|470|471|474|475|477|480|483|485|486|489|490|492|495|498|500|501|504|505|507|510|513|515|516|519|520|522|525|528|530|531|534|535|537|540|543|545|546|549|550|552|555|558|560|561|564|565|567|570|573|575|576|579|580|582|585|588|590|591|594|595|597|600|603|605|606|609|610|612|615|618|620|621|624|625|627|630|633|635|636|639|640|642|645|648|650|651|654|655|657|660|663|665|666|669|670|672|675|678|680|681|684|685|687|690|693|695|696|699|700|702|705|708|710|711|714|715|717|720|723|725|726|729|730|732|735|738|740|741|744|745|747|750|753|755|756|759|760|762|765|768|770|771|774|775|777|780|783|785|786|789|790|792|795|798|800|801|804|805|807|810|813|815|816|819|820|822|825|828|830|831|834|835|837|840|843|845|846|849|850|852|855|858|860|861|864|865|867|870|873|875|876|879|880|882|885|888|890|891|894|895|897|900|903|905|906|909|910|912|915|918|920|921|924|925|927|930|933|935|936|939|940|942|945|948|950|951|954|955|957|960|963|965|966|969|970|972|975|978|980|981|984|985|987|990|993|995|996|999|
 The result is:  233168

Find the sum of the even valued Fibonacci numbers below 500.

In [ ]:
def fib(x):
  first = 1
  second = 2
  total=first+second
  for i in range(x):
    third=first+second
    if(third%2 ==1):
      total+=third
    first=second
    second=third
  return total

print(fib(500))

1250924126051990023839361737320306498059220941124276030514827873044712440011905760348958095401744177229817

Find the sum of all the numbers that can be written as the sum of fifth powers of their digits.

In [ ]:
def fifth():
  for spot in range (2, 1000000):
    digits = [int(i) for i in str(spot)]
    total=0
    for k in digits:
      total += k**5
    if total ==spot:
      print(total)

fifth()

4150
4151
54748
92727
93084
194979